@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@plugin "daisyui" {
}

[data-theme="dark"] {
  --color-neutral-content: #f7f9fc; /*Se usa para las letras alternando modos*/
  --color-primary: #ff9f1c; /*Naranjita*/

  --color-info-content: #141c3a; /*Cajas*/

  --color-base-100: #172346; /*Fade Color 1*/
  --color-base-200: #283b81; /*Fade Color 2*/
  --color-base-300: #3c5ac8; /*Fade Color 3*/
}

[data-theme="light"] {
  --color-neutral-content: #141c3a; /*Se usa para las letras alternando modos*/
  --color-primary: #ff9f1c;

  --color-info-content: #f7f9fc; /*Cajas*/

  --color-base-100: #fefcfb; /*Fade Color 1*/
  --color-base-200: #fefcfb; /*Fade Color 2*/
  --color-base-300: #fefcfb; /*Fade Color 3*/
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/MontserratAlternates-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/MontserratAlternates-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/MontserratAlternates-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather/MerriweatherSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather/MerriweatherSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
